[Unit]
Description=Example Debian Service
After=network.target

[Service]
ExecStart=/usr/bin/example-deb-bin
Restart=on-failure

[Install]
WantedBy=multi-user.target
